# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
*.parquet
*.csv

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid